<h1>My Projects</h1>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.name, project_path(project) %> - Status: <%= project.status.humanize %></li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't created any projects yet.</p>
<% end %>

<%= link_to 'New Project', new_project_path, class: 'button' %>
